


.bodyCompra{
    background-color: white;
    font-family: 'Anton', sans-serif;
    text-align: center;
    list-style: none;
    .heroCompra{
        background-color: rgb(30, 30, 30);
        color: white;
        text-align: center;
        padding: 100px 0px;
        list-style: none;
        .coneiner{
            padding: 100px 0px;
            text-align: center;
            list-style: none;
        }
    }
    .formCompra{
        padding: 100px 0;
        background-color: white;
    }
}
.footerCompra{
    margin: 0;
    color: rgb(100, 100, 100);
    background-image: url(/img/fondomarmol.jpg);
    bottom: 0;
    .container{
        height: 100px;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        }
    }

