


.bodyCompra{
    background-color: $colorsecundario;
    font-family: $fuenteprincipal;
    text-align: center;
    list-style: none;
    .heroCompra{
        background-color: $colorprincipal;
        color: $colorsecundario;
        text-align: center;
        padding: 100px 0px;
        list-style: none;
        .coneiner{
            padding: 100px 0px;
            text-align: center;
            list-style: none;
        }
    }
    .formCompra{
        padding: 100px 0;
        background-color: $colorsecundario;
    }
}
.footerCompra{
    margin: 0;
    color: $colorterciario;
    background-image: url(/img/fondomarmol.jpg);
    bottom: 0;
    .container{
        height: 100px;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        }
    }

