

.textProductos{
    text-align: center;
    background-color: $colorprincipal;
    color: $colorsecundario;
    height: 50px;
    margin-bottom: 30px;
}

.flexProductos{
    @include flex (flex, space-around);
    .btn-primary{
        background-color: beige;
        color: $colorprincipal;
        border: 3px solid black;
    }
}

.flexProductos2{
    @extend .flexProductos;
    margin-top: 50px;
    margin-bottom: 50px;
    .btn-secundary{
        @extend .btn-primary
    }
}

.footerProductos{
    margin: 0;
    color: $colorterciario;
    background-image: url(/img/fondomarmol.jpg);
    bottom: 0;
    .container{
        height: 100px;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        }
    }



