

    .bodySomos{
        background-color: $colorprincipal;
        font-family: $fuenteprincipal;
        text-align: center;
        color: $colorsecundario;
    }

    .footerSomos{
        margin: 0;
        color: $colorterciario;
        background-image: url(/img/fondomarmol.jpg);
        bottom: 0;
        .container{
            height: 150px;
            display: flex;
            justify-content: center;
            align-items: flex-end;
            }
        }
    







