@import "utilities/variables";
@import "utilities/mixin";
@import "utilities/map";
@import "index";
@import "productos";
@import "contacto";
@import "somos";
@import "compra";

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
header{
    background-image: url("../img/fondomarmol.jpg");
    text-align: center;
}
.navBack{
    background-image: url(/img/fondomarmol.jpg);
    font-family: $fuenteprincipal;
    font-size: 25px;
    .container.fluid{
        text-align: center;
        .navbar-nav{
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
        }
    }
}
body{
    font-family: $fuenteprincipal;
    background-color: map-get($map: $estilos, $key: bg );
}

h1{ font-size: 3.5em;}
h2{ font-size: 2.7em;}
h3{ font-size: 2em;}
p{ font-size: 1.25em;}
ul{ list-style: none;}


